<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.posn"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".application.POSNApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"

        >
        <activity
            android:name=".main.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="posn.com"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/main_activity">
        </activity>
        <activity
            android:name=".initial_setup.SetupProfilePictureActivity"
            android:label="@string/main_activity">
        </activity>
        <activity
            android:name=".initial_setup.SetupFriendsActivity"
            android:label="@string/main_activity">
        </activity>
        <activity
            android:name=".initial_setup.SetupAdditionalFriendsActivity"
            android:label="@string/main_activity">
        </activity>
        <activity
            android:name=".main.friends.AddFriendsActivity"
            android:label="@string/main_activity">
        </activity>
        <activity
            android:name=".initial_setup.SetupPasswordActivity"
            android:label="@string/main_activity">
        </activity>
        <activity
            android:name=".initial_setup.SetupPersonalInfoActivity"
            android:label="@string/main_activity">
        </activity>
        <activity
            android:name=".initial_setup.SetupEncryptionKeysActivity"
            android:label="@string/main_activity">
        </activity>
        <activity
            android:name=".initial_setup.SetupCloudProvidersActivity"
            android:label="@string/main_activity">
        </activity>
        <activity
            android:name=".initial_setup.SetupGroupsActivity"
            android:label="@string/main_activity">
        </activity>
        <activity
            android:name=".main.wall.VideoPlayerActivity"
            android:label="@string/main_activity">
        </activity>
        <activity
            android:name=".main.wall.PhotoViewerActivity"
            android:label="@string/main_activity">
        </activity>
        <activity
            android:name=".main.wall.comments.CommentActivity"
            android:label="@string/main_activity"
            android:theme="@style/PopupTheme">
        </activity>
        <activity
            android:name=".main.messages.FriendMessagesActivity"
            android:label="@string/main_activity">
        </activity>
        <activity
            android:name=".main.wall.CreateNewStatusPostActivity"
            android:label="@string/main_activity"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".main.wall.CreateNewPhotoPostActivity"
            android:label="Create Photo Post">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-bcwjrrwwyw309ol"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
